@model List<Trip> 

@{
    Layout = "_Layout";
    ViewData["Title"] = "CurrentTrips";
}


<div class="text-center">
    <h1>Current Trip Details</h1>
</div>

<div class="text-center">
    <table class="trip-table">
        <thead>
            <tr>
                <th>Trip Name</th>
                <th>Trip Start Date</th>
                <th>Trip End Date</th>
                <th>Trip Desitination</th>
                <th>Trip Stops</th>
            </tr>
        </thead>
        <tbody>
                      <!--   When user is being passed it it does not have trips  -->
                <!-- Putting a breakpoint prior to user being passed in it does contain a trip-->
                @foreach (Trip uT in Model)
                      {
                    <tr>
                        <td>@uT.TripName</td>
                        <td>@uT.TripStartDate</td>
                        <td>@uT.TripEndDate</td>
                        <td>@uT.TripDestination</td>

                        @foreach (TripStop tS in uT.TripStops)
                        {
                            <td>@tS.StopName</td>
                        }
                    </tr>
                

            }
        </tbody>
    </table>
</div>

